<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="/Client/Styles/main.css" />
    <link rel="stylesheet" type="text/css" href="/Views/Partials/Components/Hero/hero.css" />
    <link rel="stylesheet" type="text/css" href="/Views/Partials/Components/MainMenu/MainMenu.css" />
</head>
<body>
    @RenderBody()
</body>
</html>
