@{
    Layout = "~/Views/Shared/Cover/_Layout.cshtml";
}


<div class="MainMenu">
    @{ Html.RenderPartial("~/Views/Partials/Components/MainMenu/MainMenu.cshtml"); }
</div>

<div class="hero-container">
    
    @{ Html.RenderPartial("~/Views/Partials/Components/Hero/Hero.cshtml"); }
</div>
