<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="/Views/Shared/Cover/cover.css" />
    <link rel="stylesheet" type="text/css" href="/Views/Partials/Components/Hero/Hero.css" />

</head>
<body class="cover-background">
    @RenderBody();

</body>
</html>
